@charset "UTF-8";
/*Glboales*/
/*ANIMACIONES*/
.transition-fade {
  opacity: 1;
  transition: 500ms;
  transform: translateX(0);
  transform-origin: left; }

html.is-animating .transition-fade {
  opacity: 1;
  transform: translateX(100%); }

html.is-leaving .transition-fade {
  opacity: 0;
  transform: translateX(0); }

/*MAIN INDEX*/
h1 {
  position: inherit;
  font-size: 50px; }

.index {
  width: 100%;
  height: 1300px;
  /*
    Cambio el color porque me parece que son demasiados colores y distrae.
    background-color: rgb(253, 234, 128);
    */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center; }
  .index-grid {
    display: grid;
    height: 1100px;
    width: 95%;
    /*    background-color: rgb(149, 238, 241); */
    grid-template-columns: 45% 45%;
    grid-template-rows: 34% 44% 19%;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-areas: "a1 a1" "a2 a2" "a4 a5";
    justify-content: center; }

.carrousel {
  grid-area: a1;
  height: 394px;
  width: 545px;
  display: flex;
  justify-self: center;
  z-index: 1; }
  .carrousel img {
    height: 394px;
    width: 545px; }

.about {
  grid-area: a2;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .about-text {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .about-photo {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .about-photo img {
      width: 100%;
      height: auto;
      align-self: center; }

.aliades {
  grid-area: a4;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }
  .aliades-links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center; }
    .aliades-links img {
      width: 13vw;
      height: auto;
      filter: drop-shadow(2px 2px 10px #666666); }
      .aliades-links img:hover {
        filter: opacity(90%); }
    .aliades-links-bikon img {
      width: 15vw;
      height: auto; }

.newsletter {
  grid-area: a5;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }
  .newsletter-enviar {
    margin-top: 10px; }

/*MAIN Agenda*/
.agenda {
  width: 100%;
  height: 700px;
  /*
    Cambio el color porque me parece que son demasiados colores y distrae.
    background-color: rgb(253, 234, 128);
    */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center; }

.agenda-table {
  width: 93%; }
  .agenda-table tr td {
    border: 1px solid rgba(27, 20, 32, 0.7);
    padding: 15px;
    background-color: #acdfe3;
    background: linear-gradient(135deg, white, #a2e0e2); }

/*MAIN Galería*/
.galeria {
  width: 100%;
  height: 1300px;
  /*
    Cambio el color porque me parece que son demasiados colores y distrae.
    background-color: rgb(253, 234, 128);
    */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  align-content: space-evenly; }
  .galeria-grid {
    display: grid;
    height: 1000px;
    width: 95%;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 30% 30% 30%;
    grid-template-areas: "a1 a2 a7" "a4 a5 a7" "a6 a8 a3";
    column-gap: 10px;
    row-gap: 10px;
    align-content: space-between;
    justify-content: center; }
    .galeria-grid #foto01 {
      grid-area: a1; }
    .galeria-grid #foto02 {
      grid-area: a2; }
    .galeria-grid #foto03 {
      grid-area: a3; }
    .galeria-grid #foto04 {
      grid-area: a4; }
    .galeria-grid #foto05 {
      grid-area: a5; }
    .galeria-grid #foto06 {
      grid-area: a6; }
    .galeria-grid #foto07 {
      grid-area: a7;
      align-items: center;
      align-self: center;
      align-content: center;
      justify-content: center;
      margin-top: 2em; }
    .galeria-grid #foto08 {
      grid-area: a8; }
    .galeria-grid img {
      height: auto;
      width: 100%; }

/*MAIN Almacén*/
.almacen {
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center; }
  .almacen-section {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center; }
    .almacen-section-formLink img {
      margin-left: 10%;
      margin-right: 10%;
      width: 80%;
      height: auto;
      border-radius: 10%; }
      .almacen-section-formLink img:hover {
        filter: opacity(90%); }
    .almacen-section-parrafo {
      text-align: justify;
      justify-content: center; }
    .almacen-section-instagram img {
      height: 75px; }
      .almacen-section-instagram img:hover {
        filter: opacity(80%); }

/*MAIN Contacto*/
.contacto {
  width: 100%;
  height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; }
  .contacto-section {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center; }
    .contacto-section-formTextarea {
      width: 75vw;
      max-height: 25vh; }
    .contacto-section-formEmail {
      width: 50%; }
    .contacto-section-ubicacion {
      text-align: center; }
    .contacto-section-formButton {
      margin-top: 10px; }

* {
  margin: 0;
  padding: 0;
  font-family: 'Bebas Neue', impact, sans serif; }

body {
  overflow-x: hidden; }

main {
  background-image: url(../img/main-background.png); }

h2 {
  font-size: 35px; }

h3 {
  font-size: 30px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 15px; }

h6 {
  font-size: 10px; }

p {
  font-family: 'Archivo Narrow', sans-serif; }

input {
  font-family: 'Archivo Narrow', sans-serif; }

textarea {
  font-family: 'Archivo Narrow', sans-serif; }

ul {
  list-style: none; }

/*HEADER*/
header {
  height: 20vh;
  width: 100%;
  /*    background-color: rgb(175 255 226); */
  background: linear-gradient(135deg, white, #4bc3c6);
  color: #4e2070;
  position: relative;
  overflow: hidden; }

.subtitulo {
  font-size: 30px;
  position: absolute;
  right: 20px;
  bottom: -5px; }

.logo-contenedor {
  position: absolute;
  top: -4%;
  left: 10px; }

.logo-img {
  height: 21vh; }
  .logo-img img {
    height: 100%;
    width: auto;
    /*border-style: solid;
        border-width: 3px;
        border-color: rgb(63 0 255);
        border-radius: 20%;*/ }
  .logo-img:hover {
    filter: opacity(70%); }

/*NAV*/
nav {
  position: sticky;
  top: 0;
  background-color: #4bc3c6;
  height: 55px;
  width: 100%;
  z-index: 2; }
  nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    letter-spacing: 0.12em; }
    nav ul li a {
      text-decoration: none;
      font-size: 25px;
      color: black; }
      nav ul li a:hover {
        filter: opacity(100%);
        font-size: 26px; }

/*FOOTER*/
footer {
  width: 100%;
  height: 80px;
  background-color: #662893;
  background-image: url(../img/redes01.png);
  background-position-y: 20%;
  overflow-y: hidden;
  overflow-x: hidden; }

#footer-datos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  height: 100%;
  flex-wrap: wrap;
  margin-left: 10px; }

#footer-title {
  color: white;
  font-size: 22px;
  text-shadow: 3px 3px 5px #000;
  flex-wrap: wrap;
  margin: 0; }

#footer-direccion {
  color: white;
  font-size: 19px;
  text-shadow: 3px 3px 5px #000;
  flex-wrap: wrap;
  margin: 0; }

.favicons {
  height: 100%;
  width: auto;
  position: sticky;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  bottom: 31px;
  margin-right: 20px; }

.favicons img:hover {
  filter: opacity(80%); }

#facebook-img {
  height: 50px;
  width: auto;
  margin: 10px;
  bottom: 30px; }

#instagram-img {
  height: 50px;
  width: auto;
  margin: 10px;
  bottom: 30px; }

#whatsapp-img {
  height: 50px;
  width: auto;
  margin: 10px;
  bottom: 30px; }

/*MEDIA QUERY TABLET 768px*/
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 40px;
    text-align: center; }
  h2 {
    font-size: 32px; }
  /*HEADER*/
  header {
    height: 22vh; }
    header .logo-img {
      height: 18vh;
      margin-top: 8px;
      margin-left: -13px; }
    header .subtitulo {
      font-size: 25px; }
  /*NAV*/
  nav {
    height: 55px; }
    nav ul li a {
      font-size: 20px;
      letter-spacing: 0.004em; }
  /*MAIN INDEX*/
  .index {
    height: 1150px;
    display: flex;
    flex-direction: column; }
    .index-grid {
      height: 950px;
      grid-template-rows: 36% 44% 15%; }
      .index-grid .aliades-links {
        flex-direction: column-reverse;
        flex-wrap: wrap; }
        .index-grid .aliades-links img {
          width: 20vw;
          padding: 5px; }
        .index-grid .aliades-links-bikon img {
          width: 25vw; }
      .index-grid .newsletter-heading {
        align-self: center;
        justify-self: center; }
  /*MAIN Agenda*/
  .agenda {
    height: 700px; }
  /*MAIN Galeria*/
  .galeria {
    height: 1400px; }
    .galeria-grid {
      height: 1200px;
      grid-template-columns: 50% 50%;
      grid-template-rows: repeat(4, 1fr);
      grid-template-areas: "a1 a2" "a5 a8" "a3 a7" "a6 a7"; }
  /*MAIN Almacen*/
  .almacen {
    height: 700px; }
    .almacen-section-instagram img {
      height: 60px; }
    .almacen-section-formLink {
      width: 90vw; }
      .almacen-section-formLink img {
        width: 100%;
        justify-self: center;
        margin: 0; }
  /*MAIN Contacto*/
  .contacto {
    height: 700px; }
    .contacto-section .contacto-section-formTextarea {
      width: 90vw;
      max-height: 30vh; }
    .contacto-section .contacto-section-formEmail {
      width: 75%; }
  /*FOOTER*/
  footer #footer-title {
    /*
            left: 2%;
            top: 20px;
            */
    font-size: 20px; }
  footer #footer-direccion {
    font-size: 18px; }
  footer .favicons {
    margin-right: 0; } }

/*MEDIA QUERY MOBILE 320px*/
@media only screen and (max-width: 320px) {
  h1 {
    font-size: 40px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px; }
  h2 {
    font-size: 25px; }
  /*HEADER*/
  header {
    height: 25vh; }
    header .logo-img {
      height: 18vh;
      margin-top: 8px;
      margin-left: -13px; }
    header .subtitulo {
      font-size: 20px; }
  /*NAV*/
  nav {
    height: 60px; }
    nav ul li a {
      font-size: 20px;
      letter-spacing: 0.004em; }
  /*MAIN INDEX*/
  .index {
    height: 1300px;
    display: flex;
    flex-direction: column; }
    .index-grid {
      display: flex;
      flex-direction: column;
      height: 1200px;
      align-items: center;
      justify-content: space-between;
      margin: 30px; }
      .index-grid .carrousel {
        grid-area: a1;
        height: auto;
        width: 100%;
        display: flex;
        justify-self: center; }
        .index-grid .carrousel img {
          height: auto;
          width: 100%; }
      .index-grid .about {
        flex-direction: column; }
      .index-grid .aliades {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .index-grid .aliades-links {
          display: flex;
          flex-direction: column-reverse;
          flex-wrap: nowrap;
          justify-content: space-between;
          align-items: center; }
          .index-grid .aliades-links img {
            width: 45vw;
            padding: 5px; }
            .index-grid .aliades-links img img:hover {
              filter: opacity(90%); }
          .index-grid .aliades-links-bikon img {
            width: 60vw; }
      .index-grid .newsletter {
        grid-area: a5;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center; }
        .index-grid .newsletter-form {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center; }
          .index-grid .newsletter-form div {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center; }
  /*MAIN Agenda*/
  .agenda {
    height: 900px; }
  /*MAIN Galeria*/
  .galeria {
    height: 2475px; }
    .galeria-grid {
      height: 2350px;
      grid-template-columns: 100%;
      grid-template-rows: repeat(9, 1fr);
      grid-template-areas: "a1" "a2" "a3" "a4" "a7" "a7" "a5" "a6" "a8";
      justify-content: center; }
  /*MAIN Almacen*/
  .almacen {
    height: 600px; }
    .almacen-section-formLink {
      width: 99vw; }
      .almacen-section-formLink img {
        width: 100%;
        justify-self: center;
        margin: 0; }
    .almacen-section-instagram img {
      bottom: 20px;
      margin-bottom: 25px;
      height: 50px; }
  /*MAIN Contacto*/
  .contacto {
    height: 600px; }
    .contacto .contacto-section-formTextarea {
      width: 90vw;
      max-height: 30vh; }
    .contacto .contacto-section-formEmail {
      width: 100%; }
  /*FOOTER*/
  footer {
    height: 80px; }
    footer #footer-title {
      /*
            left: 2%;
            top: 20px;
            */
      font-size: 18px; }
    footer #footer-direccion {
      /*
            left: 2%;
            top: 30px;
            */
      font-size: 16px; }
    footer .favicons #facebook-img {
      height: 40px; }
    footer .favicons #instagram-img {
      height: 40px; }
    footer .favicons #whatsapp-img {
      height: 40px; } }
