/*MAIN Agenda*/
.agenda{
    @include sizes(100%, 700px);
    display: $display;
    flex-direction: $flexDirection;
    flex-wrap: $flex-wrap;
    justify-content: space-evenly;
    align-items: $align-items;
}

.agenda-table{
    width: 93%;

    & tr td {
        border:1px solid  rgba(27, 20, 32, 0.7);
        padding: 15px;
        background-color: #acdfe3;
        background: linear-gradient(135deg, white, #a2e0e2);
    }
}