/*MAIN Agenda*/
.agenda{
    @include sizes(100%, 1900px);
    display: $display;
    flex-direction: $flexDirection;
    flex-wrap: $flex-wrap;
    justify-content: space-evenly;
    align-items: $align-items;

    &-cards{
        @include sizes(75%, 1700px);
        display: $display;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-start;

        & .card{
            width: 18rem;
        }

        & h5{
            font-size: 18px;
        }
    }

}