/*MAIN Contacto*/
.contacto{
    @include sizes(100%, 650px);
    display: $display;
    flex-direction: $flexDirection;
    align-items: $align-items;
    justify-content: space-evenly;

    &-section{
        @include sizes(90%, 100%);
        display: $display;
        flex-direction: $flexDirection;
        flex-wrap: $flex-wrap;
        justify-content: space-evenly;
        align-items: $align-items;

        &-formTextarea{
            width: 75vw;
            max-height: 25vh;
        }
        &-formEmail{
            width: 50%;
        }
        &-ubicacion{
            text-align: center;
        }
        &-formButton{
            margin-top: 10px;
        }
    }
}
