/*MAIN INDEX*/
h1{
    position: inherit;
    font-size: 50px;
}

.index{
    @include sizes(100%, 1300px);
    display: $display;
    flex-direction: $flexDirection;
    flex-wrap: $flex-wrap;
    justify-content: space-evenly;
    align-items: $align-items;


    &-grid{
        display: grid;
        @include sizes(95%, 1100px);
        grid-template-columns: 45% 45%;
        grid-template-rows: 34% 44% 19%;
        column-gap: $columnGap;
        row-gap: $rowGap;
        grid-template-areas: "a1 a1"
                             "a2 a2"
                             "a4 a5";
        justify-content: center;
    }
}


.carrousel{
    grid-area: a1;
    @include sizes(545px, 394px);
    display: $display;
    justify-self: center;
    z-index: 1;

    & img{
        @include sizes(545px, 394px);
    }
}

.about{
    grid-area: a2;
    @include sizes(100%, 100%);
    display: $display;
    flex-direction:row;
    justify-content: center;
    align-items: $align-items;

    &-text{
        @include sizes(100%, 100%);
        display: $display;
        flex-direction: $flexDirection;
        justify-content: center;
        align-items: $align-items;

        &-parrafo{
            width: 85%;
            font-size: 18px;
            text-align: justify;
        }
    }

    &-photo{
        @include sizes(100%, 100%);
        display: $display;
        justify-content: center;
        align-items: $align-items;
    
        & img{
            @include sizes(100%, auto);
            align-self: center;
        }
    }
}

.aliades{
    grid-area: a4;
    display: $display;
    flex-direction: $flexDirection;
    justify-content: space-evenly;
    align-items: $align-items;

    &-links{
        display: $display;
        flex-direction: row;
        flex-wrap: $flex-wrap;
        justify-content: space-evenly;
        align-items: $align-items;
    
        & img{
            @include sizes(13vw, auto);
            filter: drop-shadow(2px 2px 10px #666666);
            
            &:hover{
                filter: opacity(90%);
            }
        }
        &-bikon img{
            @include sizes(15vw, auto);
        }
    }
    
}


.newsletter{
    grid-area: a5;
    display: $display;
    flex-direction: $flexDirection;
    justify-content: space-evenly;
    align-items: $align-items;

    &-enviar{
        margin-top: 10px;
    }
}