/*Glboales*/
@mixin sizes($width, $height){
    width: $width;
    height: $height;
}

@import 'variables';
@import 'animaciones';
@import 'index';
@import 'agenda';
@import 'galeria';
@import 'almacen';
@import 'contacto';

*{
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', impact, sans serif;
}

body{
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: black;

    &:hover{
        color: black;
    }
}

main{
    background-image: url(../img/main-background.png);
}

h1{
    font-size: 60px;
}

h2{
    font-size: 35px;
}

h3{
    font-size: 40px;
}
h4{
    font-size: 30px;
}
h5{
    font-size: 15px;
}
h6{
    font-size: 10px;
}
p{
    font-size: 16px;
    font-family: 'Archivo Narrow', sans-serif;
}
input{
    font-family: 'Archivo Narrow', sans-serif;
}
textarea{
    font-family: 'Archivo Narrow', sans-serif;
}
ul{
    list-style: none;
}

/*HEADER*/
header{
    @include sizes(100%, 20vh);
    background: linear-gradient(135deg, white, $myCyan);
    color: rgb(78, 32, 112);
    position: relative;
    overflow: hidden;
}

.subtitulo{
    font-size: 30px;
    position: absolute;
    right: 20px;
    bottom: -5px;
}

.logo-contenedor{
    position: absolute;
    top: -4%;
    left: 10px;
}
.logo-img{
    height: 21vh;
    filter: drop-shadow(0px 5px 6px white);

    & img{
        @include sizes(auto, 100%);
    }
    
    &:hover{
        filter: opacity(70%);
    }
}


/*NAV*/
nav{
    position: sticky;
    top: 0;
    background-color:  $myCyan;
    @include sizes(100%, 55px);
    z-index: 2;

    ul{
        @include sizes(100%, 100%);
        display: $display;
        flex-direction: row;
        flex-wrap: $flex-wrap;
        justify-content: space-evenly;
        align-items: $align-items;
        letter-spacing: 0.12em;

        li a{
            text-decoration: none;
            font-size: 25px;
            color: black;;

            &:hover{
                filter: opacity(100%);
                font-size: 26px;
            }
        }
    }
}



/*FOOTER*/

footer{
    @include sizes(100%, 80px);
    background-color: rgb(102, 40, 147);
    background-image: url(../img/redes01.png);
    background-position-y: 20%;
    overflow-y: hidden;
    overflow-x: hidden;
}

#footer-datos{
    display: $display;
    flex-direction: $flexDirection;
    justify-content: center;
    align-items: flex-start;
    @include sizes(50%, 100%);
    flex-wrap: wrap;
    margin-left: 10px;
}

#footer-title{
    color: white;
    font-size: 22px;
    text-shadow: 3px 3px 5px #000;
    flex-wrap: wrap;
    margin: 0;
}
#footer-direccion{
    @extend #footer-title;
    font-size: 19px;
}

.favicons{
    @include sizes(auto, 100%);
    position: sticky;
    display: $display;
    flex-wrap: $flex-wrap;
    justify-content: flex-end;
    align-items: $align-items;
    bottom: 31px;
    margin-right: 20px;

    #facebook-img{
        margin: 10px;
        bottom: 30px;
        @include sizes(auto, 50px);
    }
    
    #instagram-img{
        @extend #facebook-img;
        @include sizes(auto, 50px);
    }
    
    #whatsapp-img{
        @extend #facebook-img;
        @include sizes(auto, 50px);
    }

    & img:hover{
        filter: opacity(80%);
    }
}


/*----------------------------------------------------------------------------------------------------------*/


/*MEDIA QUERY TABLET 1023px*/
@media only screen and (max-width:1023px){
    
    h1{
        font-size: 40px;
        text-align: center;
    }

    h2{
       font-size: 32px; 
    }
    h3{
        font-size: 32px;
    }

    /*HEADER 1023px*/
    header{
        height: 22vh;

        .logo-img{
            height: 18vh;
            margin-top: 8px;
            margin-left: -13px;
        }
        .subtitulo{
            font-size: 25px;
        }
    }


    /*NAV 1023px*/
    nav{
        height: 55px;

        ul li a{
            font-size: 20px;
            letter-spacing: 0.004em;
        }
    }


    /*MAIN INDEX 1023px*/
    .index{
        height: 1150px;
        display: $display;
        flex-direction: $flexDirection;

        &-grid{
            @include sizes(103%, 950px);
            grid-template-rows: 36% 44% 15%;

            .about-text-parrafo{
                font-size: 16px;
            }

            .aliades-links{
                flex-direction: column-reverse;
                flex-wrap: wrap;

                & img{
                    width: 20vw;
                    padding: 5px;
                }
                &-bikon img{
                    width: 25vw;
                }
            }
            .newsletter-heading{
                align-self: center;
                justify-self: center;
            }
        }
    }

        /*MAIN Agenda 1023px*/
        .agenda{
            height: 2000px;

            &-header{
                margin: 35px;
            }

            &-cards{
                @include sizes(95%, 1900px);
            }
        }

        /*MAIN Galeria 1023px*/

        .galeria{
            height: 1900px;

            &-grid{
                height: 1700px;
                margin-left: 20px;
                grid-template-columns: 50% 50%;
                grid-template-rows: repeat(4, 1fr);
                grid-template-areas: "a1 a2"
                                     "a5 a8"
                                     "a3 a7"
                                     "a6 a7";
                
                & #foto07{
                    margin-top: 0;
                }
            }
        }


    /*MAIN Almacen 1023px*/

    .almacen{
        height: 700px;

        &-section{
            &-instagram img{
                height: 60px;
            }
        
            &-formLink{
                width: 90vw;
                & img{
                    width: 100%;
                    justify-self: center;
                    margin: 0;
                }
            }
            &-parrafo{
                text-align: center;
            }
        }
    }


        /*MAIN Contacto 1023px*/
    .contacto{
        height: 700px;
        flex-direction: column;

    }
        /*FOOTER 1023px*/
footer{
        #footer-title{
            font-size: 20px;
        }
        #footer-direccion{
            font-size: 18px;
        }

        .favicons{
            margin-right: 0;
        }

    }
}




/*----------------------------------------------------------------------------------------------------------*/


/*MEDIA QUERY TABLET 768px*/
@media only screen and (max-width:768px){
    
    h1{
        font-size: 40px;
        text-align: center;
    }

    h2{
       font-size: 32px; 
    }
    h3{
        font-size: 32px;
    }

    /*HEADER 768px*/
    header{
        height: 22vh;

        .logo-img{
            height: 18vh;
            margin-top: 8px;
            margin-left: -13px;
        }
        .subtitulo{
            font-size: 25px;
        }
    }


    /*NAV 768px*/
    nav{
        height: 55px;

        ul li a{
            font-size: 20px;
            letter-spacing: 0.004em;
        }
    }


    /*MAIN INDEX 768px*/
    .index{
        height: 1150px;
        display: $display;
        flex-direction: $flexDirection;

        &-grid{
            @include sizes(103%, 950px);
            grid-template-rows: 36% 44% 15%;

            .about-text-parrafo{
                font-size: 16px;
            }

            .aliades-links{
                flex-direction: column-reverse;
                flex-wrap: wrap;

                & img{
                    width: 20vw;
                    padding: 5px;
                }
                &-bikon img{
                    width: 25vw;
                }
            }
            .newsletter-heading{
                align-self: center;
                justify-self: center;
            }
        }
    }

        /*MAIN Agenda 768px*/
        .agenda{
            height: 2900px;

            &-header{
                margin: 35px;
            }

            &-cards{
                @include sizes(95%, 2800px);
            }
        }

        /*MAIN Galeria 768px*/

        .galeria{
            height: 1400px;

            &-grid{
                height: 1200px;
                
                & #foto07{
                    margin-top: 0;
                }
            }
        }


    /*MAIN Almacen 768px*/

    .almacen{
        height: 700px;

        &-section{
            &-instagram img{
                height: 60px;
            }
        
            &-formLink{
                width: 90vw;
                & img{
                    width: 100%;
                    justify-self: center;
                    margin: 0;
                }
            }
            &-parrafo{
                text-align: center;
            }
        }
    }


        /*MAIN Contacto 768px*/
    .contacto{
        height: 700px;

    }
        /*FOOTER 768px*/
footer{
        #footer-title{
            font-size: 20px;
        }
        #footer-direccion{
            font-size: 18px;
        }

        .favicons{
            margin-right: 0;
        }

    }
}




/*----------------------------------------------------------------------------------------------------------*/

/*MEDIA QUERY MOBILE 600px*/
@media only screen and (max-width:600px){

        /*MAIN Agenda 440px*/
        .agenda{
            height: 5500px;

            &-cards{
                @include sizes(95%, 5400px);

                & .card{
                    width: 26rem;
                }
            }
        }

               /*MAIN Galeria 440px*/

               .galeria{
                height: 1200px;
    
                &-grid{
                    height: 1000px;

                    & #foto07{
                        margin-top: 0;
                    }
                }
            }
    



}




/*MEDIA QUERY MOBILE 440px*/
@media only screen and (max-width:440px){
    
    h1{
        font-size: 40px;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    h2{
        font-size: 35px;
    }
    h3{
        font-size: 30px;
    }
    
    /*HEADER 440px*/
    header{
        height: 25vh;

        .logo-img{
            height: 19vh;
            margin-top: 4px;
            margin-left: -6px;
        }
        .subtitulo{
            font-size: 24px;
            right: 10px;
        }
    }

    /*NAV 440px*/
    nav{
        height: 60px;

        ul li a{
            font-size: 20px;
            letter-spacing: 0.004em;
        }
    }

    /*MAIN INDEX 440px*/
    .index{
        height: 1400px;
        display: $display;
        flex-direction: $flexDirection;

        & h1{
            margin-top: 50px;
        }

        &-grid{
            display: $display;
            flex-direction: $flexDirection;
            @include sizes(95%, 1300px);
            align-items:center;
            justify-content: space-between;
            margin: 30px;

            .carrousel{
                grid-area: a1;
                @include sizes(100%, auto);
                display: $display;
                justify-self: center;
        
                & img{
                    @include sizes(100%, auto);
                }
            }
        
            .about{
                flex-direction: $flexDirection;

                &-text-parrafo{
                    font-size: 16px;
                }
            }
        
            .aliades{
                display: $display;
                flex-direction: $flexDirection;
                justify-content: center;
                align-items: $align-items;
                margin-bottom: 10px;
        
                & h3{
                    margin-top: 16px;
                    margin-bottom: -9px;
                    margin-left: 22px;
                }

                &-links{
                    display: $display;
                    flex-direction: column-reverse;
                    flex-wrap: $flex-wrap;
                    justify-content: space-between;
                    align-items: $align-items;
        
                    & img{
                        width: 45vw;
                        padding: 5px;
                    
                        & img:hover{
                            filter: opacity(90%);
                        }
        
                    }
                    &-bikon img{
                        width: 60vw;
                    }
                }
        
        
        
            }
            
            .newsletter-440-extend{
                display: $display;
                flex-direction: $flexDirection;
                justify-content: space-evenly;
                align-items: $align-items;
            }
        
            .newsletter{
                grid-area: a5;
                @extend .newsletter-440-extend;
        
                &-form{
                    @extend .newsletter-440-extend;
        
                    & div{
                        @extend .newsletter-440-extend;
                    }
                }
            }
        }
    }




        /*MAIN Agenda 440px*/
        .agenda{
            height: 5200px;

            &-cards{
                @include sizes(95%, 5050px);

                & .card{
                    width: 24rem;
                }
            }
        }

        /*MAIN Galeria 440px*/

        .galeria{
            height: 3300px;

            &-grid{
                height: 3100px;
                margin-left: 0px;
                grid-template-columns: 100%;
                grid-template-rows: repeat(9, 1fr);
                grid-template-areas:"a1"
                                    "a2"
                                    "a3"
                                    "a4"
                                    "a7"
                                    "a7"
                                    "a5"
                                    "a6"
                                    "a8";
                justify-content: center;
            }

            & #foto07{
                margin-top: 0;
            }
        }



    /*MAIN Almacen 440px*/

    .almacen{
        height: 600px;

        &-section{

            &-parrafo{
                width: 95%;
                text-align: justify;
                justify-content: center;
                font-size: 15px;
                }

            &-formLink{
                width: 99vw;

                & img{
                    width: 100%;
                    justify-self: center;
                    margin: 0;
                }
            }
            &-heading{
                font-size: 25px;
                text-align: center;
            }

            &-instagram img{
                bottom: 20px;
                margin-bottom: 25px;
                height: 50px;
            }
        }
    }

        /*MAIN Contacto 440px*/
    .contacto{
        height: 1000px;
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;

        &-section{
            @include sizes(95%, 900px);
            flex-direction: column;
            flex-wrap: nowrap;

            &-formulario{
                margin-top: -50px;

                &-textarea{
                    width: 95vw;
                    max-height: 30vh;
                }
                &-email{
                    width: 95%;
                }
            }

            &-ubicacion{
                @include sizes(95%, 480px);
                margin-left: 7px;
            }
        }
    }
    


        /*FOOTER 440px*/

    footer{
        height: 80px;

        #footer-title{
            font-size: 20px;
        }
        #footer-direccion{
            font-size: 18px;
        }

        .favicons{

            #facebook-img{
                margin: 5px;
                @include sizes(auto, 45px); 
            }
        
            #instagram-img{
                margin: 5px;
                @include sizes(auto, 45px);  
            }
        
            #whatsapp-img{
                margin-left: 5px;
                margin-right: 10px;
                @include sizes(auto, 45px);
            }
        }
    
    }
    
}



/*----------------------------------------------------------------------------------------------------------*/


/*MEDIA QUERY MOBILE 320px*/
@media only screen and (max-width:320px){
    
    h1{
        font-size: 40px;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    h2{
        font-size: 25px;
    }
    h3{
        font-size: 25px;
    }
    
    /*HEADER 320px*/
    header{
        height: 25vh;

        .logo-img{
            height: 18vh;
            margin-top: 8px;
            margin-left: -13px;
        }
        .subtitulo{
            font-size: 20px;
        }
    }

    /*NAV 320px*/
    nav{
        height: 60px;

        ul li a{
            font-size: 20px;
            letter-spacing: 0.004em;
        }
    }

    /*MAIN INDEX 320px*/
    .index{
        height: 1300px;
        display: $display;
        flex-direction: $flexDirection;

        &-grid{
            display: $display;
            flex-direction: $flexDirection;
            @include sizes(95%, 1200px);
            align-items:center;
            justify-content: space-between;
            margin: 30px;

        
            
            .newsletter-320-extend{
                display: $display;
                flex-direction: $flexDirection;
                justify-content: space-evenly;
                align-items: $align-items;
            }
        
            .newsletter{
                grid-area: a5;
                @extend .newsletter-320-extend;
        
                &-form{
                    @extend .newsletter-320-extend;
        
                    & div{
                        @extend .newsletter-320-extend;
                    }
                }
            }
        }
    }




        /*MAIN Agenda 320px*/
        .agenda{
            height: 4600px;

            &-cards{
                @include sizes(95%, 4500px);


                & .card{
                    width: 20rem;
                }
            }
        }

        /*MAIN Galeria 320px*/

        .galeria{
            height: 2475px;

            &-grid{
                height: 2350px;
                margin-left: 0px;
                grid-template-columns: 100%;
                grid-template-rows: repeat(9, 1fr);
                grid-template-areas:"a1"
                                    "a2"
                                    "a3"
                                    "a4"
                                    "a7"
                                    "a7"
                                    "a5"
                                    "a6"
                                    "a8";
                justify-content: center;


            & #foto07{
                margin-top: 0;
            }
            }
        }



    /*MAIN Almacen 320px*/

    .almacen{
        height: 600px;

        &-section{

            &-parrafo{
                width: 95%;
                text-align: justify;
                justify-content: center;
                font-size: 15px;
                }

            &-formLink{
                width: 99vw;

                & img{
                    width: 100%;
                    justify-self: center;
                    margin: 0;
                }
            }
            &-heading{
                font-size: 25px;
                text-align: center;
            }

            &-instagram img{
                bottom: 20px;
                margin-bottom: 25px;
                height: 50px;
            }
        }
    }

        /*MAIN Contacto 320px*/
    .contacto{
        height: 1000px;
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;

        &-section{
            @include sizes(95%, 900px);
            flex-direction: column;
            flex-wrap: nowrap;

            &-formulario{

                &-textarea{
                    width: 95vw;
                    max-height: 30vh;
                }
                &-email{
                    width: 95%;
                }
            }

            &-ubicacion{
                @include sizes(95%, 480px);
                margin-left: 7px;
            }
        }
    }
    


        /*FOOTER 320px*/

    footer{
        height: 80px;

        #footer-title{
            font-size: 18px;
        }
        #footer-direccion{
            font-size: 16px;
        }

        .favicons{

            #facebook-img{
                margin: 5px;
                @include sizes(auto, 40px);  
            }
        
            #instagram-img{
                margin: 5px;
                @include sizes(auto, 40px);  
            }
        
            #whatsapp-img{
                margin-left: 5px;
                margin-right: 10px;
                @include sizes(auto, 40px);  
            }
        }
    
    }
    
}